html,
body {
  height: 100%;
}

.content {
  min-height: calc(100vh - 60px); /* Adjust the value based on the footer height */
  padding-bottom: 60px; /* Adjust the value based on the footer height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 60px; /* Example */
  
}

.App {
  text-align: center;
}


