html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}
.code {
  color: black;
  font-size: 1.2em;
}
.App {
text-align: center;
margin: 0;
}

.tiles{
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 100px;
}

.card-img-top{
  
  height: 15vw;
  
}
  


.profile-pic{
  /* max-width: 60%;
  height: auto; */
}
















